In [8]:
import pandas as pd
import numpy  as np
from IPython.core.interactiveshell import InteractiveShell as IS
IS.ast_node_interactivity = "all"

In [9]:
import pandas as pd
satislar = pd.read_csv('http://bilkav.com/satislar.csv')

In [10]:
df = satislar.copy()
df.head()

   Aylar  Satislar
0      8   19671.5
1     10   23102.5
2     11   18865.5
3     13   21762.5
4     14   19945.5

In [11]:
X = df[['Aylar']]
Y = df[['Satislar']]
X
Y

    Aylar
0       8
1      10
2      11
3      13
4      14
5      19
6      19
7      20
8      20
9      24
10     25
11     25
12     25
13     26
14     29
15     31
16     32
17     34
18     37
19     37
20     42
21     44
22     49
23     50
24     54
25     55
26     59
27     59
28     64
29     65

    Satislar
0    19671.5
1    23102.5
2    18865.5
3    21762.5
4    19945.5
5    28321.0
6    30075.0
7    27222.5
8    32222.5
9    28594.5
10   31609.0
11   27897.0
12   28478.5
13   28540.5
14   30555.5
15   33969.0
16   33014.5
17   41544.0
18   40681.5
19    4697.0
20   45869.0
21   49136.5
22   50651.0
23   56906.0
24   54715.5
25   52791.0
26   58484.5
27   56317.5
28   61195.5
29   60936.0

In [18]:
from sklearn.model_selection import train_test_split
bolme     = 0.33
rnd_state = 0
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=bolme, random_state=rnd_state)

In [21]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
y_pred = lin_reg.predict(X_test)

LinearRegression()

In [26]:
import pickle
dosya = 'model.kayit'
pickle.dump(lin_reg, open(dosya, 'wb'))
kayit_lin_reg = pickle.load(open(dosya, 'rb'))

In [27]:
print("lin_reg.predict")
y_pred
print("kayit_lin_reg.predict")
kayit_lin_reg.predict(X_test)

lin_reg.predict

array([[20126.21865404],
       [57740.29412655],
       [30771.7117123 ],
       [30062.01217508],
       [54191.79644047],
       [50643.29875438],
       [54191.79644047],
       [30062.01217508],
       [36449.30801003],
       [47094.80106829]])

kayit_lin_reg.predict

array([[20126.21865404],
       [57740.29412655],
       [30771.7117123 ],
       [30062.01217508],
       [54191.79644047],
       [50643.29875438],
       [54191.79644047],
       [30062.01217508],
       [36449.30801003],
       [47094.80106829]])